<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= topic%></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-white bg-[#1E1E1E]">
    <div class="flex flex-col items-center h-screen w-full p-4">
        <h1 class="text-white text-center text-3xl font-semibold cursor-default">
            ✨ <%= page%> Page ✨
        </h1>
        <p class="w-3/4 mt-10 text-lg cursor-default">Welcome to my Kubernetes learning journey! 🌟 In this repository,
            I've organized
            my exploration of
            Kubernetes
            by creating a folder for each Kubernetes object. Each folder contains YAML files for the respective object.
            Additionally, I've dockerized the applications and set up continuous integration using GitHub-Actions.</p>
    </div>
</body>

</html>